{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo %} {{ post.post_title }} | {% endblock %}


{% block conteudo %}

<div class="container">
    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8 text-center">
            <h2>{{ post.post_title }}</h2>
            <h5>{{ post.post_brief }}</h5>
            <p class="text-muted mt-4">
                <small>
                    {{ post.post_author.first_name }} | {{ post.post_date }} | {{ post.post_category }}
                </small>
            </p>
        </div>
        <div class="col-xl"></div>
    </div>

    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            {% if post.post_image %}
            <img class="img-fluid pb-5 " src="{{ post.post_image.url }}" alt="{{ post.post_title }}">
            {% endif %}

            {{ post.post_content|safe }}

        </div>
        <div class="col-xl"></div>
    </div>


    {% if comments %}
    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h2 class="my-3">Comentários ({{ comments.count }})</h2>


            {% for comment in comments %}
            <div class="card">
                <div class="card-header bg-primary">
                    {{ comment.comment_name }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p><small>{{ comment.comment }}</small></p>
                        <div class="card-footer text-muted h6">
                            {{ comment.comment_date }}
                        </div>
                    </blockquote>
                </div>
            </div>
            <br>
            {% endfor %}


        </div>
        <div class="col-xl"></div>
    </div>
    {% endif %}


    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h2 class="my-3">Deixe seu comentário</h2>
            <form method="POST" action="#envia_comentario">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% for visible_field in form.visible_fields %}
                    {{ visible_field|as_crispy_field }}
                {% endfor %}

                {% include 'parciais/_messages.html' %}

                <input id="envia_comentario" type="submit" class="btn btn-primary" value="Enviar">
            </form>
        </div>
        <div class="col-xl"></div>
    </div>
</div>


{% endblock %}
